body,html{
	margin: 0;
	padding: 0;
}

body {
    background-image: url('<?php echo $_SERVER["ROOT"]?>Application/Themes/Default/Images/purty_wood.png');
}

h2{
	text-align: center;
	margin-top: 0px;
	font-size: 30pt;
}

#container    {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#banner{
	background-image: url('<?php echo $_SERVER["ROOT"]?>Application/Themes/Default/Images/banner.png');
	background-repeat: no-repeat;
	width: 1020px;
	height: 616px;
	margin: auto;
}

#name{
	width: 700px;
	height: 100px;
	border-bottom: solid white 1px;
	margin-left: auto;
	margin-right: auto;
}

#name p{
	color: white;
	font-weight: bold;
	padding-top: 40px;
}

#banner h1{
	font-family: Knewave;
	color: white;
	font-size: 50pt;
	text-align: center;
}

.singlepost  {
    height: 100px;
    margin-bottom: 8px;
    background-color: white;
}

.singlepost p{
	text-align: center;
}

#query{
	margin-left: 260px;
	width: 500px;
	height: 50px;
}

#queryp{
	margin-bottom: 0px;
}

#baby{
	width: 20px;
	height: 20px;
}

#Banner{
	/*width: 400px;
	margin-left: auto;
	margin-right: auto;*/
}

#loginPopup{
	float: right;
	width: 300px;
	height: 100px;
	border: solid black 7px;
	border-radius: 10px;
	background-color: white;
}

#loginPopup input{
	margin: 0px;
}

#loginPopup span {
	float: left;
	display: block;
	width: 80px;
}

#loginPopup label{
	margin-left: 5px;
}


#pointer{
	position: relative;
	width: 10px;
	height: 10px;
	border: solid black 7px;
	top: -11px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-o-transform: rotate(45deg); /* Opera */
	-moz-transform: rotate(45deg); /* Firefox */
	background-color: black;
}

#create{
	margin-left: 600px;
	margin-bottom: 0px;
}

#querySubmit{
	display: inline;
  	width: 50px;
  	height: 30px;
  	position: relative;
  	left: -80px;
  	top: 1.5px;  
}

#TheWall{
	border: solid black 7px;
	border-radius: 7px; 
	width: 800px;
	background-color: black;
}