<?php
$borderColor = "#A33360";
$pink = "rgb(242, 0, 83)";
?>

body,html{
	margin: 0;
	padding: 0;
}

body {
    /*background-color: rgb(220, 220, 220);*/
    background-image: url('<?php echo $_SERVER["ROOT"]?>Application/Themes/Default/Images/diagonal_striped_brick.png');
}

h2{
	text-align: center;
	margin-top: 0px;
	font-size: 30pt;
}

#container    {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    background-color: white;
    overflow: hidden;
    padding-right: 90px;
}

#banner{
	background-image: url('<?php echo $_SERVER["ROOT"]?>Application/Themes/Default/Images/banner.png');
	background-repeat: no-repeat;
    background-position: center;
	height: 410px;
	margin: auto;
    background-color: rgb(242, 0, 83);
    text-align: center;
}
#tail 
{
    background-image: url('<?php echo $_SERVER["ROOT"]?>Application/Themes/Default/Images/header_tail.png');    
    background-repeat: no-repeat;
    background-position: center;
    height: 54px;
    width: 150px;
    margin: auto;
    margin-left: 60%;
}

#name{
	width: 700px;
	height: 100px;
	border-bottom: solid white 1px;
	margin-left: auto;
	margin-right: auto;
}

#name p{
	color: white;
	font-weight: bold;
	padding-top: 40px;
}

.tabs{
	width: 100px;
	height: 50px;
	border
}

#banner h1{
	font-family: Knewave;
	color: white;
	font-size: 50pt;
    font-weight: normal;
	text-align: center;
	margin-top: 0px;
    margin-bottom: 10px;
}

#banner h1 span
{
    text-shadow: 0px 5px 0px black;
}

.posttext
{
   background-color: <?php echo $pink ?>;
   border-radius: 10px;
   min-height: 70px;
   color: white;
   font-family: "Open Sans";
   font-size: 14pt;
   padding: 20px;  
}

.posttext #text
{
    font-weight: bold;
    font-size: 24pt;
}


.singlepost  {           
    width: 700px;
    margin-bottom: 23px;      
}

.singlepost p{
	text-align: center;
}

.singlepost .underpost {
    background-image: url('<?php echo $_SERVER["ROOT"]?>Application/Themes/Default/Images/post_tail.png');    
    background-repeat: no-repeat;
    background-position: 20px 0px;
    padding-left: 85px;
    padding-top: 15px;
    color: rgb(50,50,50);
}

.underpost .ratings {
    float: right;    
}

.ratings .voteOption {
    margin-right: 20px;
    cursor: pointer;
}

.ratings .voteOption span:hover {
    text-decoration: underline;
}

.underpost .author, .underpost .time {
    font-family: "Open Sans";
    font-size: 14pt;
    font-weight: bold;
    text-decoration: underline;
}

#query{
	width: 500px;
	height: 50px;
    border: 0;
    box-shadow: 2px 2px 5px black;
    font-size: 16pt;
    padding-left: 10px;
}

#queryp{
	margin-bottom: 0px;
	margin-left: 100px;
}

#baby{
	width: 20px;
	height: 20px;
}

#Banner{
	/*width: 400px;
	margin-left: auto;
	margin-right: auto;*/
}

#loginPopup{
    display: none;
	float: right;
	width: 300px;
	height: 100px;
	border: 7px solid <?php echo $borderColor ?>;
	border-radius: 10px;
	background-color: white;
}

#loginPopup input{
	margin: 0px;
}

#loginPopup span {
	float: left;
	display: block;
	width: 80px;
}

#loginPopup label{
	margin-left: 5px;
}


#pointer{
	position: relative;
	width: 10px;
	height: 10px;
	border: 7px solid <?php echo $borderColor ?>;
	top: -11px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-o-transform: rotate(45deg); /* Opera */
	-moz-transform: rotate(45deg); /* Firefox */
	background-color: black;
}

#create{
	margin-left: 600px;
	margin-bottom: 0px;
}

#querySubmit{
    background-image:url('<?php echo $_SERVER["ROOT"]?>Application/Themes/Default/Images/post_button.png');
	display: inline;
  	width: 106px;
  	height: 38px;
  	position: relative;
  	left: -120px;
  	top: -10px;
    border: 0;
}

#footer 
{
    clear: both;
}

#TheWall{
    float: right;                                
	border-radius: 7px;
    margin-top: 20px;
                                    
    font-family: "Open Sans";
}

ul#nav
{
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
    margin-top: 20px;
    width: 150px;
}

ul#nav li
{
    padding: 3px;
    display: block;
    border: 2px solid <?php echo $borderColor ?>;
    border-right: 0;
    border-bottom: 2px solid <?php echo $borderColor ?>;
    border-left: 5px solid <?php echo $borderColor ?>;
    text-align: center;
    margin-top: 5px;
    background-color: white;
}

ul#nav li:hover
{
    background-color: #FAE1EB;
    border-left: 8px solid <?php echo $borderColor ?>;
}